h1{
  position: absolute;
  font-size: xx-large;
  font-weight: 100%;
  top: 20%;
  left: 40%;
    background : linear-gradient(to right,blue,red,yellow,blue,green,red);
    -webkit-text-fill-color:transparent; 
    -webkit-background-clip :text;
}

.sec1{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}
.circle1 {
    background-color: brown;
    color: white;
    border: 3px solid white; 
    border-radius: 100px;
    padding: 7px 15px;
}
.circle2 {
    background-color: transparent;
    color: white;
    border: 3px solid white;
    border-radius: 20px;
    padding: 7px 11px;
    margin:0 40px;
}
.dot{
    transform: rotate(90deg);
    font-size: xx-large;
    color: white;
}
input[type=text]{
    width:80%;
    padding: 12px 15px;
    margin-top: 220px;
    margin-left: 30px;
    border:5px solid lightgoldenrodyellow ;
    border-radius: 30px 30px 30px 30px ;
    
}
body{
    background:url("photo1648483083.jpeg");
    background-attachment:fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin:0px auto auto auto;

}
.box1{
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 50%;
    margin-left:60px;
    

}
.col1{
    border: 3px solid green;
    border-radius: 100%;
    padding: 25px 25px;
    margin: 20px;

}